### Write a Python program to get the 4th element from first  and 4th element from last of a tuple. 
#( "p" , "y" , "t", "h" , "o" , "n" , "p" , "r" , "o" , "g" , "r" , "a" , "m" , "m" , "i" , "n" , "g" )

In [3]:

s="pythonpr"

print(s[3],s[-4])

h o

In [4]:
#Write a python program to find largest number in a given list with out using max() .[10, 7 , 0 ,14 , 4 , 2 ] 
#Answer 3
def maximumelem(list):
    max=0
    for item in list:
        if item > max:
            max=item
    print(max)
    
list=[1,2,3,4,6,89,20]
maximumelem(list)

89

In [29]:
#Write a Python script to add a key to a dictionary. 

     #Sample Dictionary : {0: 10, 1: 20}

     #Expected Result : {0: 10, 1: 20, 2: 30}
#Answer 5
A={'0':10,'1':20}
print(A)
A['2']=30
print(A)

{'0': 10, '1': 20}
{'0': 10, '1': 20, '2': 30}

In [30]:
# Write a Python program to convert a given  list to a tuple. [5, 10, 7, 4, 15, 3] 
#Answer 1
list=[1,2,3,4,5,6]
lt=tuple(list)
print(lt)

(1, 2, 3, 4, 5, 6)

In [42]:
# Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the              form (x, x*x) 

     #Sample Dictionary ( n = 5) : 

     #Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25} 



#Answer 6
def dic(n):
    dic={}
    for i in range(1,n+1):
        dic[i]=i*i
    print(dic)  
    
dic(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [57]:
#
#Answer 4
def isEven(n):
    a=[]
    p=0
    for i in n:
        if(i%2==0):
            a.append(i)
    print(a)
list=[12,45,23,45,67,90]
isEven(list)

[12, 90]