In [5]:
def abc(my_str):
    a=len(my_str)
    for i in range(a-1,-1,-1):
        yield my_str[i]
        
for char in abc("HEllo"):
    print(char,end="")

ollEH

In [11]:
#n=123
#sum(range(n))
sum(list(range(20+1)))

210

# One line Program for divisibility
# List Comprehension

In [42]:
# Divisibilty by 9
li=list(range(1,50))
def divisibility(li):
    return[i for i in li if i%9==0]   
divisibility(li)

[9, 18, 27, 36, 45]

In [24]:
#Leap Year
li=list(range(2000,2019))
def leapyear(li):
    return[i for i in li if(i%4==0 or (i%400==0 and i%100==0))]

leapyear(li)

[2000, 2004, 2008, 2012, 2016]

# Maps
#### Maps is used to apply functions to all elements in a list

In [43]:
li=[1,2,3,4,5]
def cube(n):
    return n**3

x=list(map(cube,li))  # MAP is used to apply functions to all elements in a list
print(x)
y=len(x)
print(y)
sum([cube(i) for i in li])  # Calculating all the cubes in  a list

[1, 8, 27, 64, 125]
5

225

In [47]:
li=[1,2,3,4,5,6]
def isEven(li):
    return[i for i in li if(i%2==0)]
isEven(li)

[2, 4, 6]

In [30]:
def numberToDigits(n):
    
    while(n!=0):
        p=n%10
        NumberToWords(p)
        n=n//10
        
    

def NumberToWords(x):
        Ones={1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine'}
        print(Ones[x])
        
numberToDigits(123)

three
two
one

In [35]:
# Accessing Basic numerical module
import Numerical.basic        # METHOD 1

Numerical.basic.cube(4)

64

In [36]:
import Numerical.basic as a #METHOD 2
a.cube(4)

64

In [37]:
from Numerical import basic as a  #METHOD 3  #Using prompt
a.cube(5)

125

In [42]:
from Numerical import basic  as a
a.cube(6)

216

# Turtle

In [1]:
import turtle as t
t1=t.Turtle()
t1.forward(50)